#modal-overlay-config {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

#modal-content-config {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #BAC3CD;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 101;
    width: 50%;
    height: 60%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#firstconfigtitle {
    font-size: 40px;
}

#datainputfields {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0 0 0;
    height: 75%;
}

.datainputfield {
    display: flex;
    flex-direction: column;
}

.datainputfield input {
    outline: none;
    border-radius: 5px;
    padding: 5px;
    width: 20vw;
    height: 5vh;
    font-size: 3vh;
    border: 1px solid #BAC3CD;
}

form #confirmbutton {
    border: none !important;
    cursor: pointer !important;
    border-radius: 10px !important;
    margin: 15px 0 0 0 !important;
    padding: 0 !important;
    width: 10vw !important;
    height: 7.5vh !important;
    font-size: 3vh !important;
    color: white !important;
    background-color: rgba(28, 40, 51, 1) !important;
}
#errormessage {
    margin: 0;
    color: #ef4444;
}

@media (orientation: portrait) {
    #firstconfigtitle {
        font-size: 35px;
    }

    #modal-content-config {
        width: 75%;
    }

    .datainputfield input {
        width: 50vw;
    }

    form #confirmbutton {
        width: 50vw !important;
    }
}