#home {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

#homemainicon {
    height: 50vh;
    border-radius: 20px;
}

@media (orientation: portrait) {
    #homemainicon {
        display: none;
    }

    .datatab {
        max-height: 40%;
    }
}

#datatabs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.datatab {
    max-width: 95%;
    width: 50vh;
    height: 50vh;
    background-color: rgba(28, 40, 51, 1);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

.datatabtext {
    color: white;
    font-size: 2vh;
    margin: 4vh 0 0 4vh;
}