#layouttop {
    background-color: rgba(28, 40, 51, 1);
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 30px;
}

#sensorwerte {
    background-color: #98A2AD;
    height: 5vh;
    font-size: 3vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media (orientation: portrait) {
    #sensorwerte {
        font-size: 1vh;
    }
}

#sensorwerte i {
    margin-left: 2.5px;
}

#failedconnect {
    color: red;
}

#successconnect {
    color: greenyellow;
}

#layouttext {
    color: #00D1FF;
    font-size: 4vh;
    display: flex;
    justify-content: center;
    text-align: center;
}

@media (orientation: portrait) {
    #layouttext {
        font-size: 3vh;
    }
}

#layoutsettings {
    color: #98A2AD;
}

.settingsicon {
    font-size: 200%;
}

#burger-menu {
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
}

.line {
    background-color: #98A2AD;
    height: 4px;
    border-radius: 2px;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

@media (orientation: landscape) {
    .burger-menu {
        width: 3vw;
    }
}

#layoutcontent {
    display: flex;
}

#sidebar { 
    height: 85vh;
    min-width: 5%;
    background-color: rgba(28, 40, 51, 1);
    transition: all 0.5s ease-in-out;
}

#sidebar.open{
    min-width: 30%;
}

.layoutlink {
    font-size: 3vh;
    color: black;
    background-color: #98A2AD;
    text-decoration: none;
    width: 50%;
    height: 20%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media (orientation: portrait) {
    .layoutlink {
        width: 80%;
        font-size: 2vh;
    }
}

.layoutlink.selected {
    background-color: #BAC3CD;
}

.layoutlink:hover {
    background-color: #BAC3CD;
}

#layoutlinkscontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 75%;
}

#modal-overlay-layout {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

#modal-content-layout {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #BAC3CD;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 101;
    width: 50%;
    height: 60%;
    display: flex;
    justify-content: space-between;
}

@media (orientation: portrait) {
    #modal-content-layout {
        width: 80%;
    }
}

#contentcontainer {
    display: flex;
    width: 75%;
}

#sidebarsettings {
    margin: 10px;
    width: 10vw;
    border-radius: 5px;
    background-color: rgba(28, 40, 51, 1);
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media (orientation: portrait) {
    #sidebarsettings {
        width: 20vw;
    }
}

.settingmenuitem {
    cursor: pointer;
    background-color: #98A2AD;
    width: 75%;
    height: 10%;
    margin: 2vh 0 0 auto;
    border-top-left-radius: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
}

.settingmenuitem.selected {
    background-color: #BAC3CD;
}

.settingmenuitem:hover {
    background-color: #BAC3CD;
}

#settingstab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 100%;
}

/* #opensettingstab {
    height: 100%;
    width: 100%;
} */

#settingsright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    padding: 10px;
    width: 25%;
}

.xicon {
    font-size: 30px;
    margin: 2.5px 2.5px 0 0;
}

#othercontent {
    margin: 5vh;
    padding: 5vh;
    border-radius: 3vh;
    width: 100%;
    background-color: #BAC3CD;
}

@media (orientation: portrait) {
    #othercontent {
        margin: 2.5vh;
        padding: 2.5vh;
        width: 100%;
    }
}

.setting {
    display: flex;
    justify-content: space-between;
}

.settingdescriptor {
    color: black;
}

#savebutton {
    cursor: pointer;
    background-color: rgba(28, 40, 51, 1);
    color: #98A2AD;
    width: 10vw;
    padding: 10px 0 10px 0;
    border-radius: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

#savebutton:hover {
    background-color: black;
    box-shadow: 5px;
    color: white;
}

@media (orientation: portrait) {
    #savebutton {
        width: 15vw;
    }
}